* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.editModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid #f00;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #09111e;
  display: none;
}
.editModal .editForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.editModal .editForm .editBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editModal .editForm .editBox label {
  width: 100px;
  font-size: 22px;
  text-align: end;
  color: #fff;
  letter-spacing: 1px;
}
.editModal .editForm .editBox input {
  width: 270px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #09111e;
  letter-spacing: 1px;
}
.editModal .editForm .editBox .buttonBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.editModal .editForm .editBox .buttonBox button {
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  color: #09111e;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.editModal .editForm .editBox .buttonBox button:hover {
  background-color: #09111e;
  color: #fff;
}
.editModal.active {
  display: block;
}

@media (max-width: 600px) {
  .editModal {
    width: 280px;
    padding: 10px;
    display: none;
  }
  .editModal .editForm {
    width: 280px;
    gap: 10px;
    padding: 15px;
  }
  .editModal .editForm .editBox {
    justify-content: flex-start;
    gap: 15px;
  }
  .editModal .editForm .editBox label {
    width: 70px;
    font-size: 14px;
  }
  .editModal .editForm .editBox input {
    width: 150px;
    font-size: 14px;
  }
  .editModal .editForm .editBox .buttonBox {
    margin-top: 10px;
    padding-right: 15px;
  }
  .editModal .editForm .editBox .buttonBox button {
    font-size: 14px;
  }
}
.deleteModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid #f00;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #09111e;
}
.deleteModal .modalRow {
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
}
.deleteModal .modalRow button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.deleteModal .modalRow button:hover {
  background-color: #09111e;
  color: #fff;
  border: 1px solid #fff;
}
.deleteModal .modalRow .question, .deleteModal .modalRow .actions {
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
  color: #f00;
  letter-spacing: 1px;
  text-align: end;
}
.deleteModal.active {
  display: block;
}

main {
  width: 100%;
  background-color: #09111e;
}
main .container {
  position: relative;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .container .searchInp {
  position: absolute;
  top: 40px;
  right: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 400px;
  padding: 10px 15px;
  font-size: 18px;
  letter-spacing: 1px;
}
main .container .contactCreateForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
main .container .contactCreateForm .formTitle {
  align-self: flex-end;
  height: 30px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
main .container .contactCreateForm .inputBox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .contactCreateForm .inputBox label {
  width: 100px;
  font-size: 22px;
  text-align: end;
  color: #fff;
  letter-spacing: 1px;
}
main .container .contactCreateForm .inputBox input {
  width: 270px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #09111e;
  letter-spacing: 1px;
}
main .container .contactCreateForm .inputBox.buttonBox {
  display: flex;
  justify-content: flex-end;
}
main .container .contactCreateForm .inputBox.buttonBox button {
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  color: #09111e;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .container .contactCreateForm .inputBox.buttonBox button:hover {
  background-color: #09111e;
  color: #fff;
}
main .container .contactCreateForm .inputBox .errorMsg {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  font-size: 15px;
  color: #f00;
  display: none;
}
main .container .contactCreateForm .inputBox .errorMsg.active {
  display: block;
}
main .container .contactTable {
  width: 850px;
  margin: 50px 0 0;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
}
main .container .contactTable thead {
  width: 100%;
}
main .container .contactTable thead tr {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3137254902);
}
main .container .contactTable thead tr th {
  text-align: start;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 15px 5px;
  color: #fff;
  letter-spacing: 1px;
}
main .container .contactTable tbody {
  width: 100%;
}
main .container .contactTable tbody tr {
  width: 100%;
}
main .container .contactTable tbody tr:nth-child(even) {
  background-color: #202020;
}
main .container .contactTable tbody tr td {
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 10px 5px;
  color: #fff;
  letter-spacing: 1px;
}
main .container .contactTable tbody tr td button {
  background-color: #fff;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .container .contactTable tbody tr td button img {
  padding-top: 5px;
  width: 80%;
  height: 80%;
  object-fit: contain;
}
main .container .contactTable tbody tr td button:hover {
  background-color: #09111e;
  border: 1px solid #fff;
}
main .container .cardsBox {
  display: none;
}
main .container .paginationBox {
  position: absolute;
  bottom: 15px;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  display: none;
}
main .container .paginationBox .paginationLink {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  color: #f00;
  transition: all 0.3 ease;
  cursor: pointer;
}
main .container .paginationBox .paginationLink:hover {
  color: #000;
}
main .container .paginationBox.active {
  display: flex;
}

@media (max-width: 1301px) {
  main .container {
    width: 1200px;
    margin: 0 auto;
  }
  main .container .contactCreateForm {
    width: 330px;
  }
  main .container .contactCreateForm .inputBox label {
    width: 80px;
  }
  main .container .contactCreateForm .inputBox input {
    width: 230px;
  }
}
@media (max-width: 1220px) {
  main .container {
    width: 900px;
    min-height: 100vh;
    padding: 20px 0 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main .container .searchInp {
    top: 130px;
    left: 20px;
    width: 900px;
    padding: 10px 15px;
  }
  main .container .contactCreateForm {
    width: 900px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  main .container .contactCreateForm .formTitle {
    display: none;
  }
  main .container .contactCreateForm .inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  main .container .contactCreateForm .inputBox label {
    width: auto;
    font-size: 20px;
    text-align: start;
  }
  main .container .contactCreateForm .inputBox input {
    width: 150px;
    font-size: 16px;
  }
  main .container .contactCreateForm .inputBox.buttonBox {
    display: flex;
    align-self: flex-end;
  }
  main .container .contactCreateForm .inputBox .errorMsg {
    bottom: 0;
    transform: translate(0, 110%);
    font-size: 12px;
  }
  main .container .contactTable {
    width: 900px;
    margin: 100px 0 0;
  }
}
@media (max-width: 900px) {
  main .container {
    width: 550px;
    margin: 0 auto;
    padding: 20px 0;
  }
  main .container .searchInp {
    top: 110px;
    left: 0px;
    width: 550px;
    padding: 10px;
    font-size: 16px;
  }
  main .container .contactCreateForm {
    width: 550px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  main .container .contactCreateForm .inputBox {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  main .container .contactCreateForm .inputBox label {
    width: auto;
    font-size: 18px;
    text-align: start;
  }
  main .container .contactCreateForm .inputBox input {
    width: 90px;
    font-size: 14px;
  }
  main .container .contactCreateForm .inputBox.buttonBox button {
    font-size: 15px;
  }
  main .container .contactTable {
    width: 550px;
    margin: 80px auto 0;
  }
  main .container .contactTable thead tr th {
    font-size: 16px;
    padding: 10px 5px 5px;
  }
  main .container .contactTable tbody tr td {
    font-size: 14px;
    padding: 10px 5px 5px;
  }
  main .container .contactTable tbody tr td:last-child {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 11px;
  }
  main .container .contactTable tbody tr td button {
    width: 35px;
    height: 25px;
    border-radius: 7px;
  }
}
@media (max-width: 600px) {
  main .container {
    max-width: 400px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  main .container .searchInp {
    top: 340px;
    left: 0px;
    width: 400px;
    padding: 5px 10px;
    font-size: 14px;
  }
  main .container .contactCreateForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  main .container .contactCreateForm .formTitle {
    align-self: flex-end;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  main .container .contactCreateForm .inputBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  main .container .contactCreateForm .inputBox label {
    width: 100px;
    font-size: 15px;
    text-align: end;
    color: #fff;
    letter-spacing: 1px;
  }
  main .container .contactCreateForm .inputBox input {
    width: 270px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #09111e;
    letter-spacing: 1px;
  }
  main .container .contactCreateForm .inputBox.buttonBox {
    display: flex;
    justify-content: flex-end;
  }
  main .container .contactCreateForm .inputBox.buttonBox button {
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    color: #09111e;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  main .container .contactCreateForm .inputBox.buttonBox button:hover {
    background-color: #09111e;
    color: #fff;
  }
  main .container .contactTable {
    display: none;
  }
  main .container .cardsBox {
    display: block;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .container .cardsBox .card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3137254902);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .container .cardsBox .card .number {
    width: 100%;
    color: #fff;
    font-weight: 600;
  }
  main .container .cardsBox .card .details {
    width: 100%;
    padding: 0 20px;
  }
  main .container .cardsBox .card .details .cardRow {
    margin-bottom: 5px;
  }
  main .container .cardsBox .card .details .cardRow span {
    color: #fff;
    font-size: 16px;
  }
  main .container .cardsBox .card .details .cardRow span.key {
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    font-weight: 500;
    text-align: end;
  }
  main .container .cardsBox .card .details .cardRow span.value {
    font-weight: 600;
    letter-spacing: 1px;
  }
  main .container .cardsBox .card .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .container .cardsBox .card .actions button {
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #09111e;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }
  main .container .cardsBox .card .actions button.editBtn {
    background-color: #e6b400;
    border: 1px solid #e6b400;
  }
  main .container .cardsBox .card .actions button.deleteBtn {
    background-color: #a70000;
    border: 1px solid #a70000;
  }
  main .container .cardsBox .card .actions button:hover.editBtn {
    background-color: #09111e;
    color: #e6b400;
  }
  main .container .cardsBox .card .actions button:hover.deleteBtn {
    background-color: #09111e;
    color: #a70000;
  }
  main .container .deleteModal {
    width: 280px;
    padding: 20px;
  }
  main .container .deleteModal .modalRow {
    margin-bottom: 10px;
    font-size: 15px;
  }
  main .container .deleteModal .modalRow button {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  main .container {
    max-width: 280px;
    min-height: 100vh;
    padding-top: 20px;
  }
  main .container .searchInp {
    width: 280px;
  }
  main .container .contactCreateForm {
    width: 270px;
    padding-top: 20px;
    gap: 10px;
  }
  main .container .contactCreateForm .formTitle {
    font-size: 15px;
  }
  main .container .contactCreateForm .inputBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  main .container .contactCreateForm .inputBox label {
    width: 70px;
    font-size: 15px;
    text-align: end;
    color: #fff;
    letter-spacing: 1px;
  }
  main .container .contactCreateForm .inputBox input {
    width: 170px;
    font-size: 15px;
    padding: 5px;
  }
  main .container .cardsBox {
    gap: 20px;
  }
  main .container .cardsBox .card {
    width: 280px;
    padding: 15px;
  }
  main .container .cardsBox .card .details {
    padding: 0 10px;
  }
  main .container .cardsBox .card .details .cardRow span {
    font-size: 14px;
  }
  main .container .cardsBox .card .details .cardRow span.key {
    width: 50px;
    margin-right: 10px;
  }
  main .container .cardsBox .card .details .cardRow span.value {
    font-weight: 500;
    font-size: 15px;
  }
  main .container .cardsBox .card .actions button {
    font-size: 15px;
    letter-spacing: 1px;
  }
}