.deleteModal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 1px solid #f00;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: $primary;

    .modalRow {
        margin-bottom: 15px;
        font-size: 20px;
        color: #fff;
        letter-spacing: 1px;

        button {
            font-size: 16px;
            font-weight: 600;
            padding: 5px 10px;
            border: 1px solid transparent;
            border-radius: 5px;
            color: #000;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                background-color: $primary;
                color: #fff;
                border: 1px solid #fff;
            }
        }

        .question, .actions{
            width: 100%;
            margin: 15px 0;
            font-size: 20px;
            color: #f00;
            letter-spacing: 1px;
            text-align: end;
        }
    }

    &.active{
        display: block;
    }
}