.editModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 1px solid #f00;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: $primary;
    display: none;

    .editForm {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;

        .editBox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                width: 100px;
                font-size: 22px;
                text-align: end;
                color: $secondary;
                letter-spacing: 1px;
            }

            input {
                width: 270px;
                font-size: 18px;
                padding: 5px 10px;
                border: none;
                outline: none;
                border-radius: 5px;
                color: $primary;
                letter-spacing: 1px;
            }

            .buttonBox {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                button {
                    border: none;
                    outline: none;
                    border: 1px solid $secondary;
                    border-radius: 5px;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 5px 10px;
                    color: $primary;
                    background-color: $secondary;
                    cursor: pointer;
                    transition: all .3s ease;

                    &:hover {
                        background-color: $primary;
                        color: $secondary;
                    }
                }
            }
        }
    }

    &.active {
        display: block;
    }
}

@media (max-width: 600px) {
    .editModal {
        width: 280px;
        padding: 10px;

        .editForm {
            width: 280px;
            gap: 10px;
            padding: 15px;

            .editBox {
                justify-content: flex-start;
                gap: 15px;

                label {
                    width: 70px;
                    font-size: 14px;
                }

                input {
                    width: 150px;
                    font-size: 14px;
                }

                .buttonBox {
                    margin-top: 10px;
                    padding-right: 15px;

                    button {
                        font-size: 14px;
                    }
                }

            }
        }

        display: none;
    }
}